<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ESUFileExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ESUFileExplorer.Properties.Settings>
            <setting name="CERT" serializeAs="String">
                <value>EAST STROUDSBURG UNIVERSITY OF PENNSYLVANIA</value>
            </setting>
            <setting name="LOCATIONS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Shemp;0;https://shemp.esu.edu;/{0}/</string>
                        <string>Cleo;1;https://cleo.esu.edu;/</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="REMEMBER_ME" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="REMEMBER_LOCATION" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DOUBLE_CLICK_ACTION" serializeAs="String">
                <value>Open</value>
            </setting>
        </ESUFileExplorer.Properties.Settings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="CERT" serializeAs="String">
                <value>EAST STROUDSBURG UNIVERSITY OF PENNSYLVANIA</value>
            </setting>
            <setting name="LOCATIONS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Shemp;0;https://shemp.esu.edu;/{0}/</string>
                        <string>Cleo;1;https://cleo.esu.edu;/</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="REMEMBER_ME" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="REMEMBER_LOCATION" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>